.onClickExample{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    position: relative;
    margin-left: 50px;
    margin-top: 10px;


}
#button{
    width: fit-content;
    height: fit-content;
    border-radius: 15%;
    background-color: brown;
    text-align: center;
    text-decoration-color: blue;

}
.onChangeExample{
    width: fit-content;
    height: 300px;
    background-color: bisque;
    position: relative;
    margin-left: 50px;
    margin-top: 10px;

    
}
.drag{
    width: fit-content;
    height: fit-content;
    background-color: blanchedalmond;
    position: relative;
    margin-left: 50px;
    margin-top: 2opx;
}
.droptarget {
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }